
.Myhobbies {
    /*using flexbox*/
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.tbox1 {
    background-image: url(images/cat.svg);
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/cat.svg);
    background-size: cover;
    background-position: bottom;
    min-height: 250px;
    width: 30%;
    font-family: 'Bitter', serif;
    width: 47%;
    padding: 50px;
    border: 1px solid black;
    color: white;
    /* using flexbox*/
    box-sizing: border-box;
    margin-top: 50px;
}
.tbox2 {
    background-image: url(images/gaming.svg);
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/gaming.svg);
    background-size: cover;
    background-position: bottom;
    min-height: 250px;
    width: 30%;
    font-family: 'Bitter', serif;
    width: 47%;
    padding: 50px;
    border: 1px solid black;
    color: white;
    /* using flexbox*/
    box-sizing: border-box;
    margin-top: 50px;
}

.tbox3 {
    background-image: url(images/fitness.svg);
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/fitness.svg);
    background-size: cover;
    background-position: bottom;
    min-height: 250px;
    width: 30%;
    font-family: 'Bitter', serif;
    width: 47%;
    padding: 50px;
    border: 1px solid black;
    color: white;
    /* using flexbox*/
    box-sizing: border-box;
    margin-top: 50px;
}

.tbox4 {
    background-image: url(images/travel.svg);
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/travel.svg);
    background-size: cover;
    background-position: bottom;
    min-height: 250px;
    width: 30%;
    font-family: 'Bitter', serif;
    width: 47%;
    padding: 50px;
    border: 1px solid black;
    color: white;
    /* using flexbox*/
    box-sizing: border-box;
    margin-top: 50px;
}

.tbox :last-child {
    font-size: .8rem;
    margin-left: 20px;
}